<h1>List of courses</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id of the course</th>
      <th scope="col">Name of the course</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <th scope="row">{{course.id}}</th>
      <td>{{courses.name}}</td>
      <button routerLink="/editCourses" type="button" style = "margin: 10px" class="btn btn-primary">Edit</button>
      <button (click)="deleteCourse(course)" type="button" style = "margin: 10px" class="btn btn-danger">Delete</button>
    </tr>
    
  </tbody>
</table>