<h1>List of courses</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Id of the course</th>
            <th style="width: 10%">Name of the course</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor ="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
        
        <td>
            <button (click) = "deleteCourse(courses.id)" type="button" class="btn btn-danger">
                <span *ngIf="!courses.isDeleting">Delete</span>
            </button>
        </td>
    </tr>
    
        
    </tbody>
</table>